.theme-button[data-theme="blue"] {
  --primary: 218 100% 58%; /* #2979ff */
  --tw-ring-color: #94bcff;
}

.theme-button[data-theme="pink"] {
  --primary: 328 100% 50%; /* #ff0086 */
  --tw-ring-color: #ff80c3;
}

.theme-button[data-theme="yellow"] {
  --primary: 60 100% 50%; /* #ffff00 */
  --tw-ring-color: #ffff80;
}

